<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drums</key>
	<dict>
		<key>tracks</key>
		<array>
			<string>Overheads</string>
			<string>Kick</string>
		</array>
		<key>effects</key>
		<array>
			<string>Reverb</string>
		</array>
	</dict>
	<key>pinhole</key>
	<dict>
		<key>tracks</key>
		<array>
			<string>Pinhole Rhythm</string>
			<string>Pinhole Synths</string>
		</array>
		<key>effects</key>
		<array>
			<string>Reverb</string>
		</array>
	</dict>
	<key>phase</key>
	<dict>
		<key>tracks</key>
		<array>
			<string>Phase Test Track A</string>
			<string>Phase Test Track B</string>
		</array>
		<key>effects</key>
		<array>
			<string>Reverb</string>
		</array>
	</dict>
	<key>phase2</key>
	<dict>
		<key>tracks</key>
		<array>
			<string>Mono Sine A</string>
			<string>Mono Sine B</string>
		</array>
		<key>effects</key>
		<array>
			<string>Reverb</string>
		</array>
	</dict>
</dict>
</plist>
